.container {
  padding-top: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #ffffff;
}

.header-content {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.logo {
  margin-right: 16px;
  width: 150px;
  height: 20%;
}

main {
  margin-top: 16px;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.card {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  text-decoration: none; /* リンクの下線をなくす */
  color: #333; /* リンクの文字色を変更 */
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  color: #0056b3; /* ホバー時の文字色を変更 */
}

.card-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: top;
}

.card-content {
  padding: 8px;
}

.card-title {
  margin: 0;
  font-size: 1.25rem; /* 文字サイズを大きく変更 */
  font-weight: 600;
  text-align: center;
}

.card-description {
  font-size: 0.875rem;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.affiliation {
  font-size: 0.875rem;
  font-weight: 500;
}

.footer {
  padding-top: 16px;
  padding-bottom: 16px;
}

.footer-text {
  font-size: 0.75rem;
  text-align: center;
  color: #718096;
}

@media (max-width: 768px) {
  .container {
    padding: 8px;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .cards-container {
    grid-template-columns: 2fr;
  }

  .card-image {
    width: 100%;
    height: 208px;
    object-fit: cover;
    object-position: top;
  }

  .card-title {
    font-size: 1.125rem; /* メディアクエリ内の文字サイズを調整 */
  }

  .card-description,
  .affiliation {
    font-size: 0.75rem;
  }
}
.pager {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #333;
}

.pager button {
  width: 80px;
  margin: 0 10px;
  padding: 8px 16px;
  color: white;
  background-color: #333;
  border: 1px solid #333;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.pager button:hover {
  background-color: #555;
}

.pager button:disabled {
  color: #aaa;
  border-color: #aaa;
  cursor: default;
}

.pager .page-number {
  margin: 0 15px;
  font-size: 1.1em;
}